html {
	background: url('../files/bg.gif') repeat scroll 0 0 #cccccc;
	scroll-behavior: smooth;
	overflow-y: scroll;
	}
body {
	font-family: "Times New Roman", serif; 
	font-size: 1em;
	color: #000000; 
	padding-top: 4em;
	padding-bottom: 4em;
    }
p {
	text-align: justify;
	margin: auto;
	margin-bottom: 1.5em;
    }
a {
	color: blue; 
	text-decoration: underline;
    }
img.photo {
	border: 1px solid black; 
    }
img.icon {
	position: relative;
	top: 1px;
	}
.image-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 2em; 
}
.image-row img {
	width: 24%;
	max-width: 10.5em; 
	height: auto;
	display: block;
}
.nav_link {
    padding: 0.2em 0.2em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: background;
	display: block;
	margin-bottom: 1em;
    }
.nav_tab { 
	margin-top: 6em;
	margin-left: 1em;
	vertical-align: top; 
	white-space: nowrap;
	}
.nav_tab a {
    color: #0000cc;
    text-decoration: none;
    }
.nav_tab a:hover {
    text-decoration: underline;
    }
.nav_link_active {
    padding: 0.2em 0.2em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: background;
	display: block;
	margin-bottom: 1em;
	background: #0000ff;
    color: white !important; 
    }
.sidebar {
	flex: 0 0 8em;
	padding-right: 1em;
	}
.main_tab { 
	flex: 1 1 auto;
	min-width: 0;
	padding: 1em; 
	vertical-align: top;
	}
#form_container {
	background:#ffffff;
	border: 1px solid gray;
	margin: 0 auto;
	width: 54em;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	display: flex;
	box-sizing: border-box;
	padding-right: 1em;
	}
#year {
	margin-top: 0em;
	text-align: center;
	padding-bottom: 1em;
	}
#top .name {
  color: brown;
  font-size: 1.5em;
  font-weight: bold;
	}
#top {
  text-align: left;
  margin: 0 0 1em 0;
	}
