html
{
background: url('../files/bg.bmp') repeat scroll 0 0 #cccccc;
}
#form_container
{
	background:#ffffff;
	border: none;
	border-radius: 10px;
	margin: 0 auto;
	width:45em;
	padding-top: 2em;

	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

